
.site-Layout {
  width: 1060px;
  min-width: 1060px;
  max-width: 1060px;
  margin: auto;
}

.display-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

/*width*/
.width-100 {
  width: 100px;
}
.width-200 {
  width: 200px;
}
/*margin*/
.margin-left-15 {
  margin-left: 15px;
}
.margin-left-25 {
  margin-left: 25px;
}
.margin-left-30 {
  margin-left: 30px;
}
.margin-right-25 {
  margin-right: 25px;
}

/*padding*/
.background-color-F5F5F6 {
  background-color: #F5F5F6;
}

