.container {
  width: 1060px;
  height: 50px;
  line-height: 50px;
  background-color: blanchedalmond;
  border: 2px solid #eee;
  border-top: none;
  margin: auto;
  text-align: center;
  .title {
    font-size: 22px;
    font-weight: bold;
    color: #212123;
  }
}
