.container {
}
.menu {
  font-size: 16px;

  .categoryContainer {
    margin: 0 0 50px 0;

    .categoryNm {
      height: 40px;
      line-height: 40px;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      background-color: #212123;
      color: #fff;
    }
  }


  table {
    width: 100%;
    border: 1px solid #ab9898;
    border-radius: 5px;
    border-collapse: collapse;

    th {
      font-weight: bold;
      font-size: 14px;
      color: #fff;
      height: 50px;
      background-color: #f7b363;
      border-right: 1px solid #fff;
    }
    th:last-child {
      border-right: none;
    }

    td {
      font-size: 14px;
      font-weight: bold;
    }

    .data_tr {

      td {
        position: relative;
        border-right: 1px solid #ab9898;
      }

      td:last-child {
        border-right: none;
      }

      td div {
        padding: 10px;
      }
      > td:hover {
        cursor: pointer;
        background-color: #f7b363;
        > div {
          color: #212123;
        }
      }
    }

    .data_tr:nth-child(2n+1) {
      background-color: #ab9898;
      > td {
        border-right: 1px solid #fff;
      }

      > td:last-child {
        border-right: none;
      }
      > td, div {
        color: #fff!important;
      }
    }

    .siteUrl {
      color: #f7b363;
      white-space: nowrap;
      width: 500px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

