.container {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  margin: auto;
  width: 500px;
  height: 100%;
  background-color: #fff;
  display: none;
  padding: 0!important;
  align-items: center;
  justify-content: space-around;
  input {
    width: 330px;
    border: none;
    outline: none;
  }

  > div {
    padding: 0!important;
  }

  button {
    margin-right: 10px;
  }

  span {
    color : #f7b363;
  }
}
